*.orig
*.adb.stderr
*.adb.stdout
*.ads.stderr
*.ads.stdout
*.bexch
*.lexch
b__*

# for emacs ada-mode
gpr_query.db*

lib/
obj/

tools/asistant/asistant
tools/gnat2xml/gnat2xml
tools/gnat2xml/gnat2xsd
tools/gnat2xml/xml2gnat
tools/gnatcheck/gnatcheck
tools/gnatelim/gnatelim
tools/gnatmetric/gnatmetric
tools/gnatpp/gnatpp
tools/gnatstub/gnatstub
tools/gnattest/gnattest
tools/tool_utils/ada_trees-factory.adb
tools/tool_utils/ada_trees-factory.ads
tools/tool_utils/ada_trees-generate_factory
